<div  class="container-fluid h-75">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a href="projects.html">Projects</a>
        </li>
        <li class="breadcrumb-item active">Wendy's</li>
    </ol>

    <!-- Page Content -->
    <h1>{{selectedProyect._projectName}}</h1>
    <hr>

    <div class="row mx-1 mb-2 p-1 h-100">
        <div class="col-md-9">
            <div>
                <h3>Active sprints</h3>
                <ul *ngFor="let sprint of sprintService.active" class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>
                            Sprint {{sprint._sprintId}}
                        </h4>
                        <hr>
                        <div *ngFor="let card of cardService.cards" id="sprint1" class="bg-light">
                            <div class="alert alert-info" *ngIf="(card._sprintId == sprint._sprintId)">Issue
                                #{{card._cardId}} | {{card._cardName}}
                                <button type="button" class="btn btn-light float-right btn-sm" data-toggle="modal"
                                    data-target="#card2897">
                                    . . . </button>
                            </div>
                        </div>
                    </li>
                    <div>
                            <button type="button" routerLink="sprint/{{sprint._sprintId}}" class="btn btn-primary float-right btn-sm m-3" data-toggle="modal">
                            Open Sprint</button>
                    </div>
                    
                </ul>
            </div>
            <div>
                <h3>Release backlog</h3>
                <ul *ngFor="let sprint of sprintService.release" class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4>
                           Sprint {{sprint._sprintId}}
                        </h4>
                        <hr>
                        <div *ngFor="let card of cardService.cards" id="sprint1" class="bg-light">
                            <div class="alert alert-info" *ngIf="(card._sprintId == sprint._sprintId)">Issue
                                #{{card._cardId}} | {{card._cardName}}</div>
                        </div>
                    </li>
                    <div>
                            <button type="button" routerLink="sprint/{{sprint._sprintId}}" class="btn btn-primary float-right btn-sm m-3" data-toggle="modal">
                            Open Sprint</button>
                    </div>
                </ul>
            </div>
            <div>
                <h3>Backlog</h3>
                <hr>
                <div *ngFor="let card of cardService.cards" id="sprint1" class="bg-light">
                    <div class="alert alert-info"
                        *ngIf="(card._sprintId == null || card._sprintId == '' || card._sprintId == 0  )">Issue
                        #{{card._cardId}} | {{card._cardName}} <button type="button"
                            class="btn btn-light float-right btn-sm" data-toggle="modal" data-target="#card2897">
                            . . . </button></div>
                </div>

            </div>

        </div>
        <div class="col-md-3">
            <div>
                <h4>Options</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a routerLink="newSprint">Create new sprint</a></li>
                    <li class="list-group-item"><a routerLink="newCard">Add new user
                            story to backlog</a></li>
                    <li class="list-group-item"><a class="text-danger" href="#">Close project</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
