<div class="container-fluid h-75">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="projects.html">Projects</a>
            </li>
            <li class="breadcrumb-item active">Wendy's</li>
        </ol>

        <!-- Page Content -->
        <h1>Wendy's</h1>
        <hr>

        <div class="row mx-1 mb-2 p-1 h-100">
            <div class="col-md-9">
                <div>
                    <h3>Active sprints</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h4>
                                <a href="scrum.html" class="stretched-link">Sprint 1</a>
                            </h4>
                            <hr>
                            <div id="sprint1" class="bg-light">
                                <div class="alert alert-primary">Issue #2897 | Register form</div>
                                <div class="alert alert-info">Issue #2897 | Register form</div>
                                <div class="alert alert-primary">Issue #2897 | Register form</div>
                                <div class="alert alert-warning">Issue #2897 | Register form</div>
                            </div>
                        </li>
                    </ul>
                </div>
                    <div>
                        <h3>Release backlog</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div id="sprint1" class="bg-light">
                                    <div class="alert alert-primary">Issue #2897 | Register form</div>
                                    <div class="alert alert-info">Issue #2897 | Register form</div>
                                    <div class="alert alert-primary">Issue #2897 | Register form</div>
                                    <div class="alert alert-warning">Issue #2897 | Register form</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3>Backlog</h3>
                    <hr>
                    <div class="p-2 bg-light">
                        <div class=" alert alert-primary clearfix">
                            Issue #2897 | Register form
                            <button type="button" class="btn btn-light float-right btn-sm" data-toggle="modal"
                                data-target="#card2897">
                                . . . </button>
                        </div>
                        <div class="alert alert-success clearfix">
                            Issue #1234 | Lorem ipsum
                            <button type="button" class="btn btn-light float-right btn-sm" data-toggle="modal"
                                data-target="#card2897">
                                . . . </button>
                        </div>
                        <div class="alert alert-warning clearfix">
                            Issue #9876 | Lorem ipsum
                            <button type="button" class="btn btn-light float-right btn-sm" data-toggle="modal"
                                data-target="#card2897">
                                . . . </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h4>Options</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Create new sprint</a></li>
                            <li class="list-group-item"><a href="project-page-new-ticket.html">Add new user
                                    story to backlog</a></li>
                            <li class="list-group-item"><a class="text-danger" href="#">Close project</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>