<div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">
              <a href="teams.html">Teams</a>
          </li>
          <li class="breadcrumb-item">Pacman Team</li>
        </ol>        
        <!-- Page Content -->
        <h1>Pacman Team</h1>
        <hr>
        <div class="container-fluid">
            <table class="table table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>Member</th>
                        <th>Date of birth</th>
                        <th>CURP</th>
                        <th>RFC</th>
                        <th>Address</th>
                        <th>Skills</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Member 1</td>
                            <td>01/01/2000</td>
                            <td>xxxxxxxxxxxxxxxxxxx</td>
                            <td>xxxxxxxxxxxxxxx</td>
                            <td>Random address</td>
                            <td>
                                <li>Java Master</li>
                                <li>Javascript Junior</li>
                            </td>
                        </tr>
                        <tr>
                            <td>Member 1</td>
                            <td>01/01/2006</td>
                            <td>xxxxxxxxxxxxxxxxxxx</td>
                            <td>xxxxxxxxxxxxxxx</td>
                            <td>Random address</td>
                            <td>
                                <li>Javascript Master</li>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>

      </div>