<div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Teams</li>
        </ol>

        <!-- Page Content -->
        <h1>Teams</h1>
        <hr>

        <div *ngFor="let team of teamService.teams; let i = index" class="row">
          <div class="col-lg-6">
            <div class="card mb-3">
              <div class="card-header">
                <i class="fas fa-users"></i>
                {{team._teamName}}
              </div>

              <div class="card-body">
                <dl class="row">
                  <dt class="col-sm-3">Recent Projects</dt>
                  <div class="col-sm-9">
                    <ul *ngFor="let project of team._projects">
                        <li>{{project}}</li>
                    </ul>
                  </div>
                </dl>
              </div>
              <div class="card-footer small text-muted">
                <button routerLink={{i+1}} class="align-self-end btn btn-lg btn-block btn btn-primary btn-sm" role="button" aria-pressed="true">Open Team</button>
                
              </div>

            </div>
          </div>
        </div>


      </div>