<div class="modal-header">
    <h1>Narrativa de la historia</h1>
   
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="form-row align-items-center">
            <div class="col-md">
                <span class="font-weight-bold">Nombre corto:</span>
                <input [(ngModel)]="_cardName" type="text" name="criteria1" class="form-control">
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label for="story-points-select" class="font-weight-bold">Prioridad:</label>
                    <select id="story-points-select" name="storyPoints" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>5</option>
                        <option>8</option>
                        <option>13</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
                <div class="col-md">
                  
                    <span class="font-weight-bold">Card Id:</span>
                    <input [(ngModel)]="_cardId" type="text" name="criteria1" class="form-control">
                </div>
                <div class="col-md">
                    <span class="font-weight-bold">Sprint Id:</span>
                    <input [(ngModel)]="_sprintId" type="text" name="criteria1" class="form-control">
                </div>
            </div>
        <div class="form-row">
            <div class="col-md">
            
                <span class="font-weight-bold">Como:</span>
                <input [(ngModel)]="_role" type="text" name="criteria1" class="form-control">
            </div>
            <div class="col-md">
                <span class="font-weight-bold">Dado:</span>
                <input [(ngModel)]="_context" type="text" name="criteria1" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md">
                <span class="font-weight-bold">Quiero:</span>
                <input [(ngModel)]="_feature"  type="text" name="criteria1" class="form-control">

            </div>
            <div class="col-md">
                    <span  class="font-weight-bold">Cuando:</span>
                    <input [(ngModel)]="_events"  type="text" name="criteria1" class="form-control">
                </div>
        </div>
        <div class="form-row">
            <div class="col-md">
                <span  class="font-weight-bold">De tal manera:</span>
                <input [(ngModel)]="_benefict" type="text" name="criteria1" class="form-control">
            </div>
            <div class="col-md">
                    <span class="font-weight-bold">Entonces:</span>
                    <input [(ngModel)]="_results" type="text" name="criteria1" class="form-control">
                </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" (click)="createCard()" class="btn btn-primary">Save changes</button>
</div>