<div class="modal-body">
    <div class="container-fluid">

        <div class="form-row">
            <div class="col-md">
                <span class="font-weight-bold">Sprint Id</span>
                <input [(ngModel)]="sprintId" type="text" name="criteria1" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button"  (click) = "insertSprint()" class="btn btn-primary">Save changes</button>
</div>